{
  // Bot configuration
  "bot": {
      "token":"Bot-Token",
      "prefix": "!",
      "debug": true
  },
  "wcn": {
    "paytxfee": .01,
    "config": {
      "port": 1605,
      "user": "username",
      "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
    }
  },
  
  "moderation":{
  "pm2Name": "TipBot",
   // Roles that have access to all commands.
  "perms": ["Admin","Moderator","Community Leader","Bots"],
  // Bot Devs!
  "botDev": "Bot Developer",
  // Channel to log the bots moderation..
  "logchannel": "429853685179351050",
  //channel that the tip message will reply in if Multi or Role tip is used.
  "botspamchannels": ["429134627823812612", "429852470886268929"]
  }
}
